<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<context:component-scan base-package="org.azt.mstore" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/mstore" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" /> 
    </bean>    
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- <property name="configLocation" value="classpath:configuration.xml"></property> -->
        <property name="dataSource" ref="dataSource" />
    </bean>
    
     
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
         <property name="mapperInterface" value="org.azt.mstore.dao.UserDao"></property>
         <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean> 
     
    <bean id="authorityDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
         <property name="mapperInterface" value="org.azt.mstore.dao.AuthorityDao"></property>
         <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>    
	   
    <bean id="resourcesDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
         <property name="mapperInterface" value="org.azt.mstore.dao.ResourcesDao"></property>
         <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
     
    <bean id="roleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
         <property name="mapperInterface" value="org.azt.mstore.dao.RoleDao"></property>
         <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    
    
</beans>